iframe {
    padding-left: 50px;
}


#direction {
    padding-top: 70px;
    padding-bottom: 140px;
    padding-left: 320px;
    padding-right: 120px;
}

.formulario {
    /* display: flex; */
    width: 800px;
    height: 800px;
    /* border: 1px solid grey; */
    padding-left: 50px;
}
