iframe {
    padding-left: 50px;
}


.titulo-mapa {
    margin-top: 1000px;
    margin-left: 80px;
}

iframe {
    padding-left: 30px;
    margin-top: 10px;
}

.Ubicación, h3, p {
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.formulario {
    background: rgb(119, 117, 154);
    background: linear-gradient(
      90deg,
      rgb(253, 253, 253) 0%,
      rgba(204, 214, 214, 1) 53%,
      rgba(221, 229, 231, 1) 100%
    );
    
}