.--primary-text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.--primary-text-b {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.--secon-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.--secon-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-variation-settings: "wdth" 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.indexPrincipal {
  background-color: #c8d9cf;
}

.navbar {
  background: linear-gradient(90deg, #c8d9cf 0%, #889893 50%, #778e8b 100%);
  font-family: "Poppins", sans-serif !important;
}

.navbar a {
  color: #ffffff;
  font-size: 18px;
  margin-left: 15px;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  color: #778e8b;
  text-decoration: underline;
}

.logoUsuario {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.bannerContainer {
  box-shadow: 0 0 30px #778e8b;
}

a {
  justify-content: center;
  align-content: center;
}

a:link,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}

.principal .card {
  width: 500px;
  height: auto;
  justify-content: start;
  align-content: center;
  transition: all 0.9s;
  border-radius: 40px;
  border: 2px solid #778e8b;
  box-shadow: 0 0 15px #778e8bee;
}

.principal .card:hover {
  transform: scale(1.05);
  transition: all 0.9s;
}

.cardImgContainer {
  justify-content: start;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
}

.principal .cardContainer {
  width: 500px;
}

.cardLogo {
  width: 100%;
  border-radius: 37px 37px 0 0;
}

.principal .card-body {
  padding: 30px 20px;
  background: linear-gradient(#c8d9cf, #778e8b);
  border-radius: 0 0 37px 37px;
}

h5,
p {
  background-color: inherit;
}

.logo:hover {
  animation: vibrate 0.3s linear infinite;
}

/* Contenedor del tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

footer {
  border: solid 1px black;
  font-family: "Poppins", sans-serif !important;
}

.colorFooter {
  background: linear-gradient(90deg, #c8d9cf 0%, #889893 50%, #778e8b 100%);
  color: white !important;
}

.principalfooter {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

.principalfooter img {
  height: 150px;
  width: 150px;
  border-radius: 60px;
  animation: girar 4s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.principalfooter p {
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  font-size: x-large;
}

.p_acerca {
  font-size: small !important;
  text-align: justify;
  padding-left: 20px;
}

.secundaryfooter {
  padding: 20px;
}

.secundaryfooter button {
  width: 50%;
}

.imputNew {
  width: 50%;
}

.contact-info {
  background-color: transparent !important;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  max-width: 500px;
  line-height: 1.5;
  text-align: center;
}

.contact-info a {
  color: white;
  text-decoration: none;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item i {
  margin-right: 10px;
}

.linea {
  border: 2;
  height: 2px;
  width: 50%;
  background: linear-gradient(to right, #e8e9eb, #565a5c);
}
p {
  text-align: center !important;
}

/* MEDIA QUERIES PANTALLA SM */
@media (max-width: 768px) {
  #intro {
    width: 90% !important;
  }

  .servicio-section {
    width: 100% !important;
  }

  .secundaryfooter button {
    width: 100%;
  }

  .imputNew {
    width: 100%;
  }

  p {
    font-size: 20pxpx !important;
    text-align: center !important;
  }
}
