* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.card{

    height: 25rem !important;
    margin-bottom: 10px !important;
  
 
}


.card img {
    width: 100px;
    height: 100px;
}

/*********** EFECTO DE ZOOM AL APUNTAR  ***********/
.card:hover{
    transform: scale(1.05);
    transition: all .9s;
  }

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 120px;
    padding-right: 120px;
}

.section-title {
    margin-top: 100px;
    margin-bottom: 25px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    margin: 16 px auto 24 px auto;
}

body, .card-title {
    background: rgb(119, 117, 154);
    background: linear-gradient(
      90deg,
      rgb(253, 253, 253) 0%,
      rgba(204, 214, 214, 1) 53%,
      rgba(221, 229, 231, 1) 100%
    );
  }

 